
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Andika:wght@700&family=Archivo+Black&family=Arvo&family=Bacasime+Antique&family=Crimson+Text:ital,wght@1,600&family=Lobster&family=Lobster+Two&family=Montserrat:wght@200;400&family=Roboto:ital,wght@0,100;1,100&family=Tiro+Devanagari+Hindi&display=swap');

*{
    font-family: 'Montserrat', sans-serif !important;
}
/* antd override */

input{
    border: 1px solid rgba(128, 128, 128, 0.715) !important;
    height: 40px !important;
}
input:focus, .ant-picker{
    outline:none !important;
    box-shadow: none !important;
    border: 1px solid gray !important;
}

label{
    font-size: 16px !important;
    color: black !important;
}

.ant-form-item{
    margin: 10px 0 !important;
}
.ant-picker-input input{
    border: none !important;
}
.ant-picker{
    border: 1px solid rgba(128, 128, 128, 0.715) !important;
    height: 40px !important;
}
.primary-button{
    background-color: rgb(46, 143, 255) !important;
    border-color: rgb(115, 209, 115) !important;
    height: 40px;
    width: 100%;
    color: white !important;
    font-size: 16px !important;
    width: max-content !important;
}
.full-width-button{
    width: 100% !important;
}
.anchor{
    color: black;
    text-decoration: underline;
    font-size: 16px !important;
    cursor: pointer;
}
.anchor:hover{
    text-decoration: underline !important;
}

/* common styling */
p{
    color: rgb(38, 37, 37);
    padding-left: 10px !important;
}
.spinner-parent{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    background-color: rgba(0, 0, 0, 0.704);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
.spinner-border{
    width: 5rem;
    height: 5rem;
    color: white;
}
.page-title{
    font-size: 25px;
    color: black;
    font-weight: bold;
}

.card-title{
    font-size: 22px;
    color: rgb(53, 52, 52);
    font-weight: bold;
    padding-top: 5px;
}
.normal-text{
    font-size: 1rem;
}
.card{
    box-shadow: 0 0 2px rgb(151, 150, 150);
    cursor: pointer;
}

/* authentication pages */
.authentication{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.authentication-form{
    height: 500px;
    width: 400px;
    display: flex;
    justify-content: center;

}
.login-page-image{
    height: 100%;
    width: 60%;
}
.login-page-image img{
    height: 600px;

}

.authentication .card-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    max-width: max-content !important;
    padding: 7px 15px;
    margin-left: -40px;
    border-bottom-left-radius: 10px ;
}
/* responsive */
.header-action-icon{
    display: flex;
    justify-content: end;
    font-size: 25px !important;
    color: black !important;
    padding-right: 10px !important;
    cursor: pointer !important;
}
.collapsed-authentication{
    display: none; 
}
.full-home{
    width: 100%;
}
.full-home img{
    display: flex;
    justify-content: center;
    height: 600px;
}
.full-authentication{
    height: 100vh;
    width: 40%;
}
.title{
    padding-left: 60px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(44, 113, 243)
}
.card-description{
    height: 500px;
    width: 400px;

}
.doc-img{
    z-index: -10;
}
.collapsed-description{
    display: flex;
    padding-top: 30px;
    justify-content: space-evenly;
}
.nav{
    padding-top: 10px;
}

@media screen and (max-width: 768px){
    .title{
        width: 100%;
        color: red;
    }
    .mobile-device{
        width: 0%;
    }
    .full-authentication{
        width: 100%;
    }
}